.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar-logo a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 1.5rem;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
    margin-top: 8px;
}

.navbar-links a:hover {
    color: #d5d5d5 ;
}

.logout-button {
    background-color: #f00;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #c00;
}
